body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    min-height: calc(100vh - 96px);
    padding: 24px 0;
}
.main-heading{
    background: linear-gradient(to right, #07a2a3 0%, #23034a 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
}
/* =====news-card css start here====== */
.news-card {
    display: flex;
    gap: 16px;
    padding: 16px;
    border: 1px solid #D0D5DD;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 16px;
    align-items: center;
}

.news-card h6 {
    margin-bottom: 16px;
    color: #101828;
}

.news-card p {
    color: #101828;
    /* font-family: 'Roboto'; */
    margin-bottom: 0;
    font-size: 14px;
}

.news-card span {
    font-size: 12px;
    color: #667085;
}
.new-img {
    /* height: 150px; */
    width: 150px;
    object-fit: contain;
}
/* =====news-card css end here====== */
.spinner-container{
    min-height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
}